.CartItems {
  margin: 100px 170px;
 
}
.CartItems hr{
      height: 3px;
      background-color: #e2e2e2;
      border: 0;
}
.CartItems_format_main {
   display: grid;
   grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr  ;
   align-items: center;
   gap: 75px;
   padding: 20px 0px;
   color: #454545;
   font-size: 18px;
   font-weight: 600;
}

.CartItems_format {
       font-size: 17px;
       font-weight: 500;

}

.cartIcon-product_icon {
  height: 62px;
}

.cartItems_quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background-color: #fff;
}
.cartItem_remove_icon{
          width: 15px;
          margin: 0px 40px;
          cursor: pointer;
}
.cartItem_down{
   display: flex;
   margin: 100px 0px ;

}
.cartItem_total{
      display: flex;
      flex-direction:column ;
      flex:1;
      margin-right: 200px;
     gap: 40px;
}
.cartItem_total-item{
         display: flex;
         justify-content: space-between;
         padding: 15px 0px ;

}
.cartItem_total button {
      width: 262px;
      height: 55px;
      border: none;
      outline: none;
      background-color: #ff5a5a;
      color: white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

}
.cartItems-promocode{
  width: 504px;
  height: 78px;
  background-color:#eaeaea ;
  margin-top: 15px;
  padding-left: 20px;

  
}
.cartItems-promocode p {
     color: #555;

}
.cartItem-promocode{
  display: flex;
  flex:1;
  font-size: 15px;
  font-weight: 500;
}
.cartItem-promocode input {
        border: none;
        outline: none;
        width: 330px;
        height: 50px;
        background: transparent;
        font-size: 16px;
        
}
.cartItem-promocode button{
  border: none;
  outline: none;
  width: 170px;
  height: 50px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}