.NewColletion{
     display: flex;
     flex-direction: column;
     flex: 1;
     align-items: center;
     justify-content: center;
     gap: 10px;
}
.NewColletion  h1{
  color: #171717;
  font-size: 50px;
  font-weight: 600 ;
}
.NewColletion hr {
  width: 200px;
  height: 1px;
  border-radius: 10px;
  background-color: #252525;
}
.colletion{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px; 
  margin-top: 50px;
}