.RelatedProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.RelatedProducts h1{
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.RelatedProducts hr{
       width: 200px;
       height: 6px;
       background-color: #252525;
       border-radius: 10px; 
}
.RelatedProducts_items{
      margin-top: 50px;
      display: flex;
      gap: 309px;
}
