.offers{
     width: 65%;
     height: 60vh;
     display: flex; 
     margin: auto ; /* ? */
     padding: 0 140px;
     background: linear-gradient(180deg ,  #fde1ff , #e1ffea22 60%);  /* not working  */
     margin-bottom: 150px;
}
.offer_left{
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.offer_left h1{
       color: 171717px;
       font-size:80px ;
       font-weight:600 ;

}
.offer_left p{
  color: 171717px;
  font-size:22px ;
  font-weight:500 ;
}
.offer_left button{
       width: 282px;
       height: 70px;
       border-radius: 35px;
       border: none;
       background-color: #ff4141;
       color: white;
       font-size: 22px;
       font-weight: 500;
       cursor: pointer;
       margin-top: 30px;
}
.offer_right{
    display: flex; 
    flex: 1;
    align-items:center ;
    justify-content: flex-end;
    padding-top: 50px;
}